.login-form {
  max-width: 450px;
  margin: 3rem auto;
}

.login-form .form-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.login-form .switch-auth {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.login-form .switch-auth a {
  font-weight: 600;
  text-decoration: none;
}

.login-form .switch-auth a:hover {
  text-decoration: underline;
}
